.cv__main__about {
    background: var(--mainColorLight);
    padding-bottom: 50px;
}

.cv__main__about__wrap {
    max-width: 1200px;
    width: 100%;
    display: flex;
}

.cv__main__about__wrap__img {
    width: 50%;
    height: 490px;
    background: url(../../../assets/img/conp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cv__main__about__wrap__info {
    width: 50%;
    height: fit-content;
}

.cv__main__about__wrap__info h3 {
    text-align: right;
}

.cv__main__about__wrap__info__text {
    max-width: 720px;
    width: 100%;
    margin-left: 10px;
    display: inline-block;
    font-size: 18px;
    padding: 20px 40px;
}

.cv__main__about__wrap__info__text__text::first-letter {
    padding-left: 20px;
}

@media (max-width: 840px) {
    .cv__main__about__wrap {
        flex-direction: column;
    }

    .cv__main__about__wrap__img {
        width: 100%;
        height: 370px;
    }

    .cv__main__about__wrap__info {
        width: 100%;
    }
}