.cv__main__main-info__contacts {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 320px;
    height: 70vh;
    padding: 20px;
    padding-left: 40px;
    border-radius: 6px;
    background: white;
}

.cv__main__main-info__contacts h3 {
    text-align: right;
}