.cv__main__contacts__wrap {
    max-width: 1200px;
    width: 100%;
    padding-bottom: 20px;
}

.cv__main__contacts__wrap__cards-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cv__main__contacts__wrap__cards-wrap__card {
    min-width: 200px;
    width: 320px;
    height: 120px;
    padding: 0 10px;
    border: 2px dotted var(--mainColorDark);
    border-radius: 8px;
    line-height: 1.3;
    background: var(--mainColorLight2);
}

.cv__main__contacts__wrap__cards-wrap__card__title::first-letter {
    text-transform: uppercase;
}

@media (max-width: 660px) {
    .cv__main__contacts__wrap__cards-wrap {
        flex-wrap: wrap;
        gap: 10px;
    }

    .cv__main__contacts__wrap__cards-wrap__card {
        height: fit-content;
        padding: 0 10px;
        border: none;
        background: none;

    }
}