.cv__main__education__wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv__main__education__wrap__info {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 10px;
}

.cv__main__education__wrap__info__img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cv__main__education__wrap__info__img p {
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

.cv__main__education__wrap__info__img svg {
    width: 180px;
    height: 160px;
    fill: white;
}

.cv__main__education__wrap__info__university {
    width: 50%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    background: white;
    transition: .3s;
}

.cv__main__education__wrap__info h4 {
    font-size: 24px;
}

.cv__main__education__wrap__info__university p {
    font-size: 22px;
}

.cv__main__education__wrap__info__university__type {
    color: var(--additionalColor);
    font-weight: bold;
}

.cv__main__education__wrap__info__course {
    width: 50%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    transition: .3s;
}

.cv__main__education__wrap__info__course h5 {
    font-size: 22px;
}

.cv__main__education__wrap__info__course h4 {
    align-self: flex-end;
}

.cv__main__education__wrap__info__course-icon {
    width: 50%;
    height: 100%;
}

.cv__main__education__wrap__info__course__course-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv__main__education__wrap__info__course__course-info ul {
    width: 230px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.cv__main__education__wrap__info__course__course-info ul::first-line {
    font-weight: bold;
}

@media (max-width: 840px) {

    .cv__main__education__wrap__info__img,
    .cv__main__education__wrap__info__course-icon {
        display: none;
    }

    .cv__main__education__wrap__info__university,
    .cv__main__education__wrap__info__course {
        width: 100%;
        transition: .3s;
    }
}