@import 'about.css';
@import 'contactes.css';
@import 'skill.css';
@import 'projects.css';
@import 'languages.css';
@import 'education.css';
@import 'code-example.css';
@import 'browser-frame.css';

.cv__main {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    min-height: 200px;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

section:nth-child(2n) {
    background: var(--mainColorLight2);
}

section h3 {
    font-weight: bold;
    font-size: 36px;
}

section h3::first-letter {
    text-transform: uppercase;
}