.cv__main__projects__wrap {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cv__main__projects__wrap__slider-wrap {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border: 1px dotted var(--mainColorDark);
}

.cv__main__projects__wrap__slider-wrap__arrow {
    width: 50px;
    height: 50px;
    border: 2px solid var(--mainColorDark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainColorDark);
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
}

.cv__main__projects__wrap__slider-wrap__arrow:hover {
    background: var(--mainColorLight);
}

.cv__main__projects__wrap__slider-wrap__arrow:nth-child(1) {
    padding-right: 10px;
}

.cv__main__projects__wrap__slider-wrap__arrow:nth-child(3) {
    padding-left: 10px;
}

.slider-window {
    position: relative;
    width: calc(100% - 2 * 80px);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cv__main__projects__wrap__slider-wrap__slider {
    position: absolute;
    width: 200%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.cv__main__projects__wrap__slider-wrap__slider__item {
    width: 440px;
    padding: 20px;
    background: var(--mainColor);
    border: 1px dotted var(--mainColorDark);
    border-radius: 8px;
}

.cv__main__projects__wrap__slider__item__app {
    width: 400px;
    height: 200px;
    background: #ffffff;
}

.cv__main__projects__wrap__slider__item__title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.cv__main__projects__wrap__list-wrap {
    width: 100%;
    padding-left: 20px;
}

.cv__main__projects__wrap__list-wrap__list {
    list-style: decimal;
}

.cv__main__projects__wrap__list-wrap__list li {
    padding-left: 20px;
    font-size: 20px;
}