.cv__header {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 20px;
    background: linear-gradient(to left, var(--gradientLight), var(--gradientDark));
}

.cv__header__wrap {
    max-width: 1120px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cv__header__wrap__icon {
    width: 320px;
    display: flex;
    align-items: center;
}

.cv__header__wrap__icon svg {
    width: 72px;
    height: 42px;
    fill: var(--mainColor);
    cursor: pointer;
    transition: .5s;
}

.cv__header__wrap__icon svg:hover {
    fill: #ffffff;

}

.cv__header__wrap__icon__name {
    padding-left: 10px;
    line-height: 1.1;
    color: #ffffff;
}

.cv__header__wrap__languages {
    width: 320px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.cv__header__wrap__languages__language {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.cv__header__wrap__languages__language:hover {
    border-color: var(--mainColorDark)2;
    color: blue;
}

.active {
    background: var(--mainColorDark2);
    opacity: 1;
    pointer-events: none;
    color: #ffffff;
}