.cv__header {
    width: 100vh;
    margin-top: 30px;
}

.cv__header__top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    background: var(--mainColorDark);
}

.cv__header__top__lang {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.cv__header__top__lang__check-box {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.cv__header__top__lang__check-box__check {
    width: 5px;
    height: 5px;
    pointer-events: none;
    display: none;
    background: var(--mainColorDark);
}