.cv__nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, var(--gradientLight), var(--gradientDark));

}

.cv__nav__burger {
    display: none;
}

.cv__nav__listitem {
    max-width: 1200px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.cv__nav__listitem__item {
    width: 125px;
    padding: 0 5px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border: 1px dotted #ffffff;
    border-radius: 5px;
    background: var(--mainColorDark);
    cursor: pointer;
    transition: .3s;
}

.cv__nav__listitem__item:hover {
    border-color: none;
    background: var(--mainColorDark2);
}

.cv__nav__burger-list__list {
    display: none;
}

@media (max-width: 570px) {
    .cv__nav {
        padding: 0 20px;
        justify-content: flex-end;
    }

    .cv__nav__listitem {
        display: none;
    }

    .cv__nav__burger {
        width: 50px;
        height: 50px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--mainColorDark);
        border-radius: 6px;
        cursor: pointer;
        transition: .3s;
        z-index: 3;
    }

    .line {
        width: 30px;
        height: 3px;
        position: absolute;
        border-radius: 2px;
        background: var(--mainColorDark);
        pointer-events: none;
        transition: .3s;
    }

    .line:nth-child(1) {
        top: 8px;
    }

    .line:nth-child(2) {
        top: 23.5px;
    }

    .line:nth-child(3) {
        bottom: 8px;
    }

    .cv__nav__burger:hover {
        background: var(--mainColor);
    }

    .cv__nav__burger-list {
        position: fixed;
        width: 120px;
        height: 190px;
        display: block;
        margin-top: 50px;
        overflow: hidden;
        z-index: 2;
        transition: .3s;
    }

    .cv__nav__burger-list__list {
        display: block;
        transform: translate(0px, -190px);
        border: 1px solid var(--mainColor);
        border-radius: 8px;
        transition: .3s;
    }

    .cv__nav__burger-list__list li:hover {
        border: 2px solid var(--mainColorDark);
    }
}

.sticky-menu {
    height: 31px;
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: var(--mainColorDark);
    transition: .5s;
    z-index: 2;
}

.sticky-menu li {
    background: none;
    width: fit-content;
    border: none;
}

.sticky-burger {
    background: var(--mainColor);
    margin-top: -60px;
    top: 10;
    transition: .3s;
}

.sticky-burge-list {
    margin-top: 0;
    transition: .3s;
}